.mobile-icon {
  width: 10px;
  background: none;
  border: none;
  font-size: 20px;
}

.icons-container-mobile {
  gap: 6px;
 
}

.icons-container-mobile  a{
  padding: 5px;
 
}

.form-mobile {
  width: 50%;
  padding-left: 5px;
}

.search-input {
  width: 100%;
}

.mobile-selections {
  width: 32%;
}

.nav-mobile {
  gap: 4px;
  justify-content: center;
}