.navigation-bar {
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: rgb(22, 15, 56);
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid  rgb(56, 43, 112);
}

.logo-container {
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.filter-container,
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo-icon {
  width: 100%;
  height: 100%;
}

.genre-selections {
  height: 40px;
  background-color: rgb(22, 15, 56);
  font-size: 16px;
  border: 1px solid rgb(67, 49, 116);
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 20px;
  padding-left: 10px;
  color: rgb(159, 142, 205);
}

option {
  background-color: rgb(22, 15, 56);
  color: rgb(112, 113, 120);
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

.search-form {
  background-color: rgb(22, 15, 56);
  border: 1px solid rgb(67, 49, 116);
  border-radius: 30px;
  font-size: 16px;
  height: 40px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  color: rgb(159, 142, 205);
}

.search-input {
  background: none;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(159, 142, 205);
  width: 250px;
}

.search-input::placeholder {
  color: rgb(159, 142, 205);
}

.search-btn {
  background: none;
  border: none;
  color: rgb(73, 78, 110);
  font-size: 20px;
  padding-right: 20px;
}

.icons-container {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.link-icon {
  color: rgb(159, 142, 205);
  border: 2px solid rgb(58, 36, 100);
  border-radius: 20px;
  font-size: 15px;
  background-color: rgb(44, 27, 87);
  width: 40px;
  height: 40px;
  text-align: center;
}

.nav-logo {
  padding: 10px;
}

.vertical-line {
  background-color: rgb(56, 43, 112);
  height: 80px;
  width: 1px;
}

@media (min-width: 1024px) {
  .filter-container,
  .form-container {
    gap: 15px;
  }

  .icons-container {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
  }

  .link-icon {
    color: rgb(159, 142, 205);
    border: 2px solid rgb(58, 36, 100);
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(44, 27, 87);
    width: 50px;
    height: 50px;
    text-align: center;
  }

  .nav-logo {
    padding-top: 15px;
  }

  .search-form {
    width: 300px;
  }

  .logo-container {
    width: 100px;
  }
}
