.slider-section {
  width: 100%;
}
.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.slide.active {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.slide-image {
 width: 100%;
 height: 100%;
}

.slide-component {
  width: 100%;
  height: 400px;
}


.slide-details-container {
  position: relative;
  z-index: 1;
  left: 0;
  height: 100%;
  background-color: rgba(6, 3, 30, 0.496);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 60px;
  gap: 16px;
}
.details {
   display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 4;
  top: 45%;
}

.slider-button {
  background-color: rgba(58, 58, 77, 0.652);
  color: white;
  border: 1px solid rgb(159,142,205);
  padding: 10px;
  border-radius: 15px;
  margin: 0 10px;
  font-size: 17px;
}

.slide-image {
  position: absolute;
  z-index: 0;
  height: 100%;
}

.slide-tag {
  background-color: rgb(165,94,253);
  padding: 10px;
  color: white;
  width: 50px;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.slide-game-name {
  color: white;
   font-family: 'Nunito Sans', sans-serif;
 }

 .slide-game-description {
  color: rgba(255, 255, 255, 0.695);
   font-family: 'Nunito Sans', sans-serif;
   width: 80%;
 }

 .see-details {
  background-color: rgb(55,54,80);
  font-family: 'Nunito Sans', sans-serif;
  color: white;
   border: 1px solid rgb(159,142,205);
   border-radius: 15px;
   text-transform: uppercase;
   padding: 10px;
   width: 170px;
   height: 40px;
 }

@media (min-width:768px) {
.slide-details-container {
  align-items: flex-end;
  padding: 0;
}
.details {
  background-color: rgba(15, 15, 42, 0.256);
  width: 35%;
  height: 100%;
  padding: 50px 30px;
}
}